.about {
  display: flex;
  flex-flow: row;
  width: auto;
  margin: 1rem;
  justify-content: space-evenly;
  align-content: center;
}

.a-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: fit-content;
  margin: 1rem;
}

.a-header {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: var(--caput-mortuum);
  margin: 0;
  width: fit-content;
  padding: 0 1rem;
  text-align: center;
}

.a-p {
  border-radius: 0 1rem 1rem 1rem;
  background-color: var(--caput-mortuum);
  margin-top: 0;
  width: fit-content;
  font-size: 0.9rem;
}

.a-image {
  background-image:;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40rem;
  height: auto;
  margin: 0 1rem 0 0;
}
