.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.modal-card {
  width: 95vw;
  padding: 0;
}

.contact {
  padding: 1rem 0 0 0;
  margin: 0 auto;
}

input {
  margin: 0.25rem 0;
  width: 80vw;
}

textarea {
  height: 20vh;
  margin: 0.25rem 0 0 0;
  width: 80vw;
}

form {
  background-color: var(--30);
  width: 90vw;
  border-radius: 1rem;
}

.close-button {
  margin: 0 0 1rem 0;
}

.i-h4 {
  margin: 1vh;
}

.i-h5 {
  margin: 1.5vh auto 1.7vh 0;
}

.i-fp {
  margin: 1vh auto 1vh 0;
}
