.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.contact {
  width: max-content;
  padding: 1vh 0 1vh 0;
}

input {
  margin: 1vh;
}

.email {
  width: 24rem;
}

textarea {
  width: 24rem;
  height: 15vh;
  margin: 1vh;
}

button {
  margin-bottom: 2vh;
}

.i-h4 {
  margin: 1vh auto 1vh 0;
}

.i-h5 {
  margin: 1.5vh auto 1.7vh 0;
}

.i-fp {
  margin: 1vh auto 1vh 0;
}
