.footer {
  background-color: var(--30);
  width: 100%;
  height: auto;
  font-size: 0.75rem;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-top: auto;
  left: 0;
  bottom: 0;
}

.site,
.legal,
.social {
  list-style-type: none;
  padding: 0;
}

.footer-logo {
  background-image:;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}
