.hero-image {
  border-radius: 3rem;
  background-image:;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0.1em;
  height: 50vh;
}

h1 {
  margin: 1vh auto auto auto;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0 0.25rem 0.5rem 0.25rem;
  color: white;
}

h2 {
  border-radius: 0.5rem;
  margin: 2.25vh 0;
  font-size: 2rem;
}

.title-top {
  margin: 2rem auto 0 auto;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.title-bottom {
  margin: 1vh auto 1rem auto;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}
