@media only screen and (min-width: 1024px) {
  .title-image {
    height: 25vh;
    width: 45vw;
    margin: 0;
  }
}

.title-image {
  display: flex;
  flex-flow: column;
  margin: 0 auto 0.5rem auto;
  background-image: url("../images/logo-no-background_new.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vh;
  width: 90vw;
}

h1 {
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0 0.25rem 0.5rem 0.25rem;
  color: white;
  font-size: 1.5rem;
}

.title-top {
  border-radius: 0.5rem;
  margin: 1rem auto 0 auto;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1rem;
}
