@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.about {
  display: flex;
  flex-flow: row;
  width: auto;
  margin: 1rem;
  justify-content: space-evenly;
  align-content: center;
}

.a-image {
  background-image:;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40rem;
  height: auto;
  margin: 0 1rem 0 0;
}

.a-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: fit-content;
  margin: 0 0.5rem;
}

.a-header {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width: fit-content;
  padding: 0 1rem;
  text-align: center;
  color: var(--5b);
  margin: 0;
}

.a-p {
  border-radius: 0 1rem 1rem 1rem;
  margin: 1rem 0;
  width: fit-content;
  font-size: 0.9rem;
}

.text {
  width: 100vw;
}

.title-top {
  border-radius: 0.5rem;
  margin: 1rem auto 0 auto;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  height: 5vh;
}

.highlight {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.emphasis {
  margin: 0 0.5rem;
  font-family: "Gabriela", serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  margin: 0;
  width: fit-content;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
  color: var(--60);
}

.hero-image {
  border-radius: 0.25rem;
  background-image: url("../images/Best.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  height: 30vh;
  width: 90vw;
  margin: 0.5rem;
}

.hero-text {
  backdrop-filter: blur(5px);
  width: max-content;
  margin: 16rem auto 0 auto;
  border-radius: 1rem;
  padding: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  z-index: 1001;
}

.open-button {
  padding: 0.25rem;
  margin: 0;
  background-color: var(--30);
  color: var(--60);
}

.close-button {
  position: relative;
  z-index: 1002;
  padding: 0.25rem;
}

@media only screen and (min-width: 1024px) {
  .main {
    flex-flow: row nowrap;
    margin: 0;
  }

  .hero-image {
    width: 50vw;
    height: 70vh;
    margin: 0;
  }
}
