.nav {
  background-color: var(--60);
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  border-radius: 1rem;
  margin: 0;
  padding: 0;
}

.logo {
  background-image: url("../images/logo-no-background_new.png");
  background-color: var(--60);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  width: 4rem;
  border-radius: 1rem;
}

.logo:hover {
  background-color: var(--30);
  border-radius: 3rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  z-index: 1001;
}

.open-button {
  padding: 0.25rem;
  margin: 0;
}

.close-button {
  position: relative;
  z-index: 1002;
  padding: 0.25rem;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  list-style-type: none;
  padding: 0;
  background-color: var(--30);
  border-radius: 3rem;
  margin: 0.5rem 0 0 0;
}

.navbar-nav li {
  align-content: center;
  margin: 0;
}

.navbar-nav a {
  display: flex;
  padding: 0 0.5rem 0 0.5rem;
  align-content: center;
  color: var(--60);
}

.login-li:hover {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

#user-li {
  margin-right: auto;
  margin-left: 1rem;
  cursor: default;
}

#user-li:hover {
  background-color: var(--30);
}

.inquiries-li:hover {
  border-radius: 3rem;
}

.gallery-li:hover {
  border-radius: 3rem;
}
