.nav {
  background-color: var(--30);
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  height: 3rem;
  /* border-top-left-radius: 3rem; */
  border-bottom-left-radius: 1rem;
}

.logo {
  background-image:;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  margin-left: 0.5rem;
  width: 4rem;
}

.logo:hover {
  background-color: var(--30);
  border-radius: 3rem;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  list-style-type: none;
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0;
  background-color: var(--5a);
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.navbar-nav li {
  align-content: center;
  margin: 0;
}

.navbar-nav li:hover {
  background-color: var(--licorice);
  cursor: pointer;
}

.navbar-nav a {
  display: flex;
  padding: 0 0.5rem 0 0.5rem;
  align-content: center;
  color: var(--5b);
}

.login-li:hover {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

#user-li {
  margin-right: auto;
  margin-left: 1rem;
  cursor: default;
}

#user-li:hover {
  background-color: var(--30);
}

.inquiries-li:hover {
  border-radius: 3rem;
}

.gallery-li:hover {
  border-radius: 3rem;
}
