#root {
  width: 100%;
  display: flex;
  flex-flow: column;
  text-align: center;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

.background {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  min-height: 100vh;
}

form {
  background-color: var(--30);
  width: 15rem;
  border-radius: 1rem;
  margin: auto auto 2rem auto;
  padding: 1rem 0 1rem 0;
}

p {
  margin: 0.5rem 0 0 0;
}

button {
  margin-top: 0.5rem;
}
