#root {
  width: 100vw;
  display: flex;
  flex-flow: column;
  text-align: center;
  font-optical-sizing: auto;
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

.background {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  min-height: 100vh;
}

p {
  margin: 0.5rem 0 0 0;
}

button {
  margin: 0.5rem 0;
}
