:root {
  --60: #57cc99;
  --30: #25a18e;
  --5b: #7ae582;
  --5a: #22577a;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--5a);
  background-color: var(--60);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

a {
  font-weight: 500;
  color: var(--5a);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--5b);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
